.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#card-container {
  position: relative;
  width: 350px;
  height: 650px;
  text-align: center;
  margin: 50px;
  padding: 20px;
  border: 1px rgb(65, 37, 226) solid;
  box-shadow: 1px 5px 5px rgb(129, 147, 217);
}

h3 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 0;
  color: rgb(81, 90, 255);
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
img {
  object-fit: cover;
  width: 270px;
  height: 360px;
}
.movie-card-content {
  font-family: "Trebuchet MS", sans-serif;
  width: 90%;
  margin: 0 auto;
  height: 250px;
  padding-top: 5px;
  text-align: center;
  font-size: 15px;
}
.synopsis {
  text-align: start;
  font-weight: bold;
  font-size: 17px;
}
p {
  margin: 7px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.btn-fav {
  margin: 0;
  position: absolute;
  top: 94%;
  right: 100px;
}
