.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  width: 20%;
  height: 750px;
  text-align: center;
  margin: 50px;
  padding: 20px;
  border: solid #949b9d;
}

#movie-title {
  margin: 0;
  padding-bottom: 7px;
  color: rgb(227, 228, 228);
  text-shadow: 2px 2px 4px rgb(48, 48, 48);
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 19px;
}
img {
  display: flex;
  object-fit: cover;
  width: 270px;
  height: 360px;
  border: solid #858c8e;
}
#movie-card-content {
  font-family: "inter";
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  height: 300px;
  padding-top: 0;
  text-align: center;
  font-size: 14px;
}
.info-rate-container {
  display: flex;
  justify-content: start;
  gap: 100px;
  margin-top: 15px;
  margin-bottom: 0;
  padding-bottom: 0px;
}
#p-date {
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(227, 228, 228);
}

#date {
  color: rgb(13, 16, 55);
  text-shadow: 2px 2px 4px rgb(113, 126, 156);
  font-size: 16px;
  font-weight: bold;
}
#p-note {
  color: rgb(241, 243, 243);
  font-size: 14px;
  font-weight: bold;
}
.synopsis {
  color: rgb(13, 16, 55);
  text-shadow: 2px 2px 4px rgb(113, 126, 156);
  text-align: start;
  font-weight: bold;
  font-size: 14px;
}
#p-synopsis {
  margin: 0px;
  font-size: 14px;
  color: rgb(227, 228, 228);
}
p {
  color: #f2f2f2;
  margin: 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.genres-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: start;
  margin: 10px 0px;
  padding-bottom: 5px;
  padding-top: 0px;
}
.p-genres {
  border-radius: 15px;
  background: #bdc3c7;
  display: inline-block;
  padding: 5px 12px;
  border-radius: 10px;
  background: rgba(161, 181, 195, 0.8);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  border: none;
}
.btn-fav {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  top: 93%;
  left: 10px;
  border: none;
  background: none;
}
