.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#card-container {
  width: 350px;
  height: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 50px;
  padding: 30px;
  border: 1px rgb(233, 3, 145) solid;
  box-shadow: 1px 5px 5px rgb(252, 5, 178);
}

h3 {
}
img {
  object-fit: cover;
  width: 300px;
}
.movie-card-content {
  justify-content: center;
  flex-direction: row;
}
