.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#card-container {
  position: relative;
  border-radius: 15px;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  width: 350px;
  height: 650px;
  text-align: center;
  margin: 50px;
  padding: 20px;
  border: solid #949b9d;
}

#movie-title {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 7px;
  color: rgb(255, 255, 255);
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 20px;
}
img {
  object-fit: cover;
  width: 270px;
  height: 360px;
}
.movie-card-content {
  font-family: "Trebuchet MS", sans-serif;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  height: 250px;
  padding-top: 0px;
  text-align: center;
  font-size: 15px;
}
.synopsis {
  text-align: start;
  font-weight: bold;
  font-size: 14px;
}
p {
  color: #f2f2f2;
  margin: 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}

.btn-fav {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  top: 93%;
  left: 10px;
  border: none;
  background: none;
}
