.header {
  margin-bottom: 170px;
}

.img-header {
  object-fit: cover;
  height: 550px;
  width: 100%;
  border: 3px solid rgb(185, 185, 185);
}

#main-title {
  font-family: "Orbitron", sans-serif;
  color: #2c3e50;
  font-size: 100px;
  text-shadow: 2px 2px 4px rgb(247, 242, 228);
  margin-top: -320px;
}

input[type="search"] {
  font-family: "inter";
  font-weight: bold;
  background-color: rgba(245, 221, 156, 0.121);
  color: #ffffff;
  border: 3px solid rgba(161, 181, 195, 0.8);
  border-radius: 15px;
  padding: 1px 20px;
  margin-right: 7px;
}
input:focus {
  border: 3px solid rgb(253, 253, 252);
  background-color: rgba(161, 181, 195, 0.8);
  outline: rgb(254, 254, 252);
}
#btn-search {
  font-family: "inter";
  border-radius: 15px;
  padding: 1px 10px;
  margin-right: 7px;
  background-color: rgba(245, 221, 156, 0.341);
  color: rgb(255, 253, 253);
  border: none;
}
#btn-search:hover {
  background-color: rgba(161, 181, 195, 0.8);
  border: none;
}
#btn-filter {
  font-family: "inter";
  border-radius: 15px;
  padding: 1px 10px;
  margin-right: 7px;
  background-color: rgba(245, 221, 156, 0.341);
  color: rgb(255, 253, 253);
  border: none;
}
#btn-filter:hover {
  background-color: rgba(161, 181, 195, 0.8);
  border: none;
}
