.img-header {
  object-fit: cover;
  height: 450px;
  width: 100%;
}

#main-title {
  font-family: "Orbitron", sans-serif;
  color: #2c3e50;
  font-size: 100px;
  text-shadow: 2px 2px 4px rgb(247, 242, 228);
}
